@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Monsterrat-Family: "Montserrat", Helvetica, Arial, sans-serif;
  --Roboto-Family: "Roboto", "Montserrat", Helvetica, Arial, sans-serif;
  /* COLORS */
  --sweet-brown: #a73730;
  --egg-shell: #e5e3c9;
  --dark-blue-green: #646f4b;
  --teal-blue: #2d728f;
  --coral: #f78154;
}

body {
  font-family: var(--Monsterrat-Family);
}

.header {
  background-color: white;
  position: sticky;
  top: 0;
  box-shadow: 0 3px 10px #00000025;
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
  padding: 20px 0;
}

.wrapper-header {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 3.5rem;
  font-weight: 800;
  flex: 1;
}

.main {
  background-color: var(--egg-shell);
  min-height: 100vh;
}

.wrapper-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: minmax(300px, 1fr);
  gap: 30px;
}

.btn-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--coral);
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
}

.btn-add__icon {
  width: 75px;
  height: 75px;
}

.book {
  background-color: white;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 2fr repeat(4, 1fr);
  place-items: center;
}

.book__info {
  font-weight: 500;
  text-align: center;
}

.book__info-title {
  font-weight: 700;
  font-size: 1.3rem;
}

.book__info-pages {
  align-self: start;
}

.book-info__btns {
  place-self: stretch;
  border: none;
  font-weight: 600;
  font-size: 0.95rem;
  cursor: pointer;
  color: white;
}

.book__info-status {
  background-color: var(--dark-blue-green);
}

.book__info-status-read {
  background-color: var(--teal-blue);
}

.book__info-remove {
  background-color: var(--sweet-brown);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 420px;
  height: 420px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.modal__header {
  font-weight: 800;
}

.modal__close {
  font-size: 2rem;
  font-weight: 800;
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__label {
  font-weight: 600;
  font-size: 0.9rem;
  display: block;
}

.form__label::after {
  content: " *";
  color: red;
}

.form__txt {
  width: 300px;
  height: 30px;
  padding: 2px 10px;
  border: black solid 2px;
  border-radius: 7px;
  outline: none;
  margin: 1px 0;
}

.form__txt:focus {
  border: var(--coral) solid 2px;
  outline: none;
  box-shadow: 0px 2px 2px 0px var(--coral);
}

.required:invalid {
  border: red solid 2px;
}

.required:invalid:focus {
  box-shadow: 0px 2px 2px 0px red;
}

.form__error-message {
  color: red;
  font-size: 0.7rem;
  font-weight: 700;
  visibility: hidden;
}

.required:invalid + .form__error-message {
  visibility: visible;
}

.form__status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 3px;
}

.form__block-status {
  flex: 1;
}

.form__label-radio {
  height: 30px;
  border: black solid 2px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
}

.form__radio {
  display: none;
}

.form__radio:checked + .form__label-radio {
  color: white;
  background-color: var(--coral);
  border: #000000 solid 2px;
  box-shadow: 0px 2px 1px 0px #000000;
  font-weight: bold;
}

.btn-submit {
  width: 300px;
  height: 30px;
  font-weight: 600;
  font-size: 0.9rem;
  border: black solid 2px;
  background: none;
  border-radius: 7px;
  font-weight: 700;
  cursor: pointer;
}

.btn-submit:hover {
  box-shadow: 0px 2px 1px 0px #000000, 0px 0px 1px #0d0d0d;
  background-color: var(--coral);
  color: white;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
